.chart{
    max-width: 100% !important; 
    #month{
        width: 50px;
        border: none;
        background: transparent;
    }
    #year{
        width: 100px;
        border: none;
        background: transparent;
    }
}